.skelet-track__title-image {
  width: 51px;
  height: 51px;
  margin-right: 17px;
}
.skelet-track__title-text {
  width: 356px;
  height: 19px;
}
.skelet-track__author {
  width: 271px;
  height: 19px;
}

.skelet-track__album {
  width: 305px;
  height: 19px;
}

.skelet-track__author,
.skelet-track__title-text,
.skelet-track__title-image,
.skelet-track__album {
  background-color: #313131;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}
